<div class="jumbotron text-center">
        <div class="overlay"> 
        </div>
        <div class="background-image">
        </div>
        <div class="caption">
            <h1>Saved</h1>
        </div>
    </div>
<!--Rows for articles-->
    <div class="row savedArticles">
      <div class="col s12 m4 l4" id="nyt-0">
      </div>
      <div class="col s12 m4 l4" id="nyt-1">
      </div>
      <div class="col s12 m4 l4" id="nyt-2">
      </div>
  </div>
 <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="../public/js/saved.js"></script>
